// 3sidedcube/_article.scss
//
// Article Styles

.c-article-banner {
  $this: &;
  position: relative;

  &:after {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 343px;
    background-size: cover;
    background-image: url($article_banner_image);
    z-index: -1;

    @include desktop {
      display: block;
    }
  }

  &__backdrop {
    position: relative;
    z-index: 0;

    &:after {
      display: none;
      content: "";
      position: absolute;
      top: -1rem;
      left: -1rem;
      height: calc(100% + 2rem);
      width: calc(100% + 2rem);
      border-radius: 8px;
      background-color: #fff;
      z-index: -1;

      @include desktop {
        display: block;
      }
    }
  }

  &--category {
    &:after,
    #{$this}__backdrop:after {
      display: block;
    }
  }
}

.c-article-header {
  position: relative;
  z-index: 0;

  &:after {
    content: "";
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: calc(100% + 2rem);
    background-size: cover;
    background-image: url($article_banner_image);
    z-index: -1;

    @include desktop {
      display: none;
    }
  }
}
